<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <script>
        window.addEventListener('load', () => {
            axios.get('http://localhost:8080/count', {})
                .then(function (response) {
                    document.getElementById('counter').innerText = response.data.value;
                })
                .catch(function (error) {
                    console.log(error);
                });
        });
    </script>
    <span class="align-middle">

    </span>
    <div class="height: 200px; col-md-12 text-center align-self-center mx-auto">
            <button class="btn btn-primary btn-lg" id="update" onclick="function updateCount() {
            axios.post('http://localhost:18001/click', {})
                .then(function (response) {
                    document.getElementById('counter').innerText = response.data.value;
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
        updateCount()">Button</button>
            <div id="counter"></div>
    </div>

</body>
</html>